.Product {
  height: 300px;
  width: 20%;
  box-shadow: 0px 0px 5px lightgrey;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.Product img {
  background: gray;
  min-width: 100%;
  min-height: 50%;
}
.Product input[type="button"] {
  padding: 5px 20px;
  background: #3cc53c;
  border: none;
  color: white;
  border-radius: 5px;
  transition: all 0.5s;
}
.Product input[type="button"]:hover {
  background: #088508;
}
